body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #555;
}

a {
  color: rgb(0, 96, 96);
}

.div1 {
	width: 420px;
	float: left;
	margin: 10px;
	padding: 22px;
	border: 2px solid;
	border-color: rgb(211,211,211);
}
.main-div{
	display: flex;
}
